#container{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    border: 2px solid black;
    background-image: url(analogclock.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    
}
#hour,#minute,#second{
    position: absolute;
    margin-left: 49.3%;
    border: 2px solid black;
    background-color: black;
    opacity: 0.8;
    transform-origin: bottom;

}
#hour{
    margin-top: 29%;
    height: 20%;
    width: 0.5%;
   
}
#minute{
    margin-top: 22%;
    height: 27%;
    width: 0.8%;
   
}
#second{
    margin-top: 18%;
    height: 30%;
    width: 0%;
    margin-left: 49.9%;
}